<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="item in list">
                <span v-if="item.age > 18">{{item.name+' '+item.age}}</span>
                <span v-else>{{item.name}}</span>
            </li>
        </ul>
    </div>

    <script src="./vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                list: [
                    {
                        name: 'lisi',
                        age: 55
                    },
                    {
                        name: 'wangwu',
                        age: 18
                    },
                    {
                        name: 'zhangsan',
                        age: 23
                    },
                    {
                        name: 'sunliu',
                        age: 33
                    },
                ]

            },
            methods: {

            }
        })
    </script>

</body>

</html>